@model HostelManagementSystem.Data.StudentMonthlyFee
@{
    ViewData["Title"] = "Edit";
}

<h1>Create</h1>

<form asp-action="Edit">

    <input type="hidden" asp-for="Id" />


    <div class="row">
        <div class="col-lg-6 mb-2">
            <label class="control-label">Month</label>
            <input type="text" asp-for="Month" class="form-control" placeholder="floor">
        </div>
        <div class="col-lg-6 mb-2">
            <label class="control-label">Admission Fee</label>
            <input type="number" asp-for="AdmissionFee" class="form-control" placeholder="floor">
        </div>
        <div class="col-lg-6 mb-2">
            <label class="control-label">Room Fee</label>
            <input type="number" asp-for="Fee" class="form-control" placeholder="floor">
        </div>
         <div class="col-lg-6 mb-2">
            <label class="control-label">Student Name</label>
            <select class="form-control" asp-for="StudentId" asp-items="ViewBag.Student" required>
                <option value="">---Select Student----</option>
            </select>
        </div>
    </div>
    <input type="submit" value="submit" />
</form>

