@model HostelManagementSystem.Data.Student
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-action="Edit">
    <div class="row">
        <div class="col-lg-6 mb-2">
            <label class="control-label">Student Name</label>
            <input type="text" asp-for="Name" class="form-control" placeholder="floor">
        </div>
        <div class="col-lg-6 mb-2">
            <label class="control-label">Email</label>
            <input type="email" asp-for="Email" class="form-control" placeholder="floor">
        </div>
        <div class="col-lg-6 mb-2">
            <label class="control-label">Phone</label>
            <input type="number" asp-for="Phone" class="form-control" placeholder="floor">
        </div>
        <div class="col-lg-6 mb-2">
            <label class="control-label">Addmission date</label>
            <input type="date" asp-for="AdmissionDate" class="form-control" placeholder="floor">
        </div>
        <div class="col-lg-6 mb-2">
            <label class="control-label">Room No</label>
            <select class="form-control" asp-for="RoomId" asp-items="ViewBag.Room" required>
                <option value="">---Select Room----</option>
            </select>
        </div>

    </div>
    <input type="submit" value="submit" />
</form>

